  html,
  body {
  	margin: 0;
  }

  body {
  	background-color: hsl(180, 52%, 96%);
  	font-family: 'League Spartan', sans-serif;
  	padding-bottom: 40px;
  	font-size: 15px;

  }

  * {
  	box-sizing: border-box;
  }

  :root {
  	--highlight-text-color: #5DA4A4;
  	--very-dark-color: hsl(180, 14%, 20%)
  }

  .header {
  	width: 100%;
  	height: 190px;
  	background-image: url('./images/bg-header-desktop.svg');
  	background-size: cover;
  	background-position: center;
  	background-color: #549190;
  }

  .container {
  	flex-wrap: wrap;
  	width: 100%;
  	display: flex;
  	display: block;
  	margin: 0 auto;


  }

  .search {
  	width: 89%;
  	height: auto;
  	background-color: #fff;
  	border-radius: 10px;
  	box-shadow: 0px 10px 15px -7px rgba(93, 164, 164, 0.5);
  	padding: 20px 20px;
  	box-sizing: border-box;
  	margin-top: -36px;
  	opacity: 1;
  	margin: -36px auto auto auto;
  	display: flex;
  	justify-content: space-between;
  	transition: opacity 0.2s;
  }

  .search--hidden {
  	opacity: 0;
  }

  .search_clear {
  	padding-top: 25px;
  	margin-left: 50px;
  	background-color: transparent;
  	border: none;
  	font-size: 20px;
  	color: var(--highlight-text-color);
  	font-weight: 700;
  	outline: none;
  	float: right;
  }

  .search_clear:hover {
  	text-decoration: underline;
  	cursor: pointer;
  }

  .jobs {
  	margin-top: 36px;
  	width: 100%;
  	height: auto;
  	grid-row-gap: 25px;
  	display: grid;
  }

  .jobs_column-left {
  	display: flex;
  	flex-direction: row;
  	margin-left: 25px;
  	padding-top: 2%;
  	padding-bottom: 2%;
  }

  .jobs_item {
  	width: 89%;
  	height: auto;
  	background-color: #fff;
  	border-radius: 7px;
  	box-shadow: 0px 10px 15px -7px rgba(93, 164, 164, 0.5);
  	box-sizing: border-box;
  	display: flex;
  	flex-wrap: wrap;
  	text-align: center;
  	margin: 0 auto;
  }


  

   .jobs_item:nth-child(1) {
  	border-left: 4px solid #409797;
  }  


  .jobs_item:nth-child(2) {
  	border-left: 4px solid #409797;
  }




  .jobs_item:nth-child(3) .featuredtag {
  	display: none;
  } 



  .jobs_item:nth-child(4) .ntag--hidden {
  	display: none;
  }

  .jobs_item:nth-child(5) .ntag--hidden {
  	display: none;
  }

  .jobs_item:nth-child(6) .ntag--hidden {
  	display: none;
  }

  .jobs_item:nth-child(7) .ntag--hidden {
  	display: none;
  }

  .jobs_item:nth-child(8) .ntag--hidden {
  	display: none;
  }

  .jobs_item:nth-child(9) .ntag--hidden {
  	display: none;
  }

  .jobs_item:nth-child(10) .ntag--hidden {
  	display: none;
  } 

  .new-featured-tag {
  	display: flex;
  	flex-direction: row;
  	margin-left: 30px;
  	align-items: center;
  }

  .company-newfeatured-con {
  	display: flex;
  	width: 100%;
  	margin-bottom: 15px;
  	margin-top: 1%;
  }


  .featuredtag {
  	background-color: black;

  	text-align: center;
  	display: flex;
  	justify-content: center;
  	padding-top: 4px;
  	letter-spacing: -0.107692px;
  	color: white;
  	border-radius: 17px;
  	font-size: 14px;
  	font-weight: 700;
  	margin: 0px 8px;
  	height: 19px;
  	width: auto;
  	/* display: none; */
  	padding-left: 7px;
  	padding-right: 7px;
  }



  .newtag {
  	background-color: #549190;

  	text-align: center;
  	display: flex;
  	justify-content: center;
  	padding-top: 4px;
  	letter-spacing: -0.107692px;
  	color: white;
  	border-radius: 17px;
  	font-size: 14px;
  	font-weight: 700;
  	margin: 0px 8px;
  	height: 19px;
  	width: auto;
  	/* display: none; */
  	padding-left: 7px;
  	padding-right: 7px;
  }



  .jobs_column {
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  }

  .jobs_img {
  	width: 90px;
  	height: 90px;
  }

  .img-con {
  	display: flex;
  	align-items: center;
  }

  .jobs_info {
  	padding-left: 25px;
  	width: 95%;
  	margin-top: 3px;
  	margin-left: 10px;
  }

  .jobs_company {
  	color: #5ca5a5;
  	font-size: 18px;
  	font-weight: 700;
  	display: block;
  	width: auto;
  	margin-bottom: 0px;
  	padding-top: 5px;
  	font-style: normal;
  }

  span.jobs_title {
  	color: var(--very-dark-color);
  	font-size: 22px;
  	font-weight: 700;
  	display: flex;
  	text-align: right;
  	margin-bottom: 16px;
  }

  .jobs_title:hover {
  	color: #40A5A4;
  	cursor: pointer;
  }

  ul.jobs_details {
  	list-style: none;
  	padding: 0px;
  	display: flex;
  	text-align: left;
  	margin-bottom: 15px;

  }

  .horizontal--hidden {
  	opacity: 0;
  	width: 290px;

  }


  .jobs_details-item {
  	display: inline-block;
  	color: hsl(180, 8%, 52%);
  	font-size: 22px;
  	line-height: 1em;
  }

  .jobs_column-right {
  	flex-wrap: wrap;
  	display: flex;
  	text-align: right;
  	padding-left: 15px;
  	align-items: center;
  	margin-right: 3%;

  }

  .jobs_details-item::after {
  	content: "";
  	width: 4px;
  	height: 4px;
  	border-radius: 4px;
  	background-color: hsl(180, 8%, 52%);
  	display: inline-block;
  	margin: 5px 13px;
  }

  .tag,
  .close-tag {
  	display: inline-block;
  	width: auto;
  	padding: 10px 15px;
  	cursor: pointer;
  	border-radius: 6px;
  	font-weight: 700;
  	font-size: 20px;
  	color: var(--highlight-text-color);
  	margin: 5px;
  	background-color: #f1f7f5;
  	transition: 0.3s ease all;
  	position: relative;

  }

  .close-tag {
  	padding-right: 45px;
  }

  .close-tag::after {
  	content: "";
  	display: block;
  	width: 35px;
  	height: 100%;
  	background-color: var(--highlight-text-color);
  	position: absolute;
  	right: 0;
  	top: 0;
  	background-image: url('./images/icon-remove.svg');
  	background-position: center;
  	background-size: 15px;
  	background-repeat: no-repeat;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
  }

  .tag:hover,
  .tag--active {
  	background-color: var(--highlight-text-color);
  	color: #fff;
  }

  .close-tag:hover::after {
  	padding-right: 6px;
  	background-color: var(--very-dark-color);
  }

  .jobs_details-item:last-child::after {
  	display: none;
  }




  /*============================== media querries for mobile=================================== */



  @media screen and (max-width: 415px) {
  	.header {
  		display: block;
  		background-image: url('./images/bg-header-mobile.svg');
  		height: 190px;
  		width: auto;
  		background-size: cover;

  	}

  	.horizontal--show {
  		opacity: 1;
  		width: 290px;
  		font-weight: 200;
  		background-color: rgb(146, 145, 145);
  	}

  	.jobs_img {
  		margin-top: -30px;
  		width: 60px;
  		height: 60px;
  		padding-left: 6px;
  	}

  	.jobs_column-left {
  		display: felx;
  		flex-wrap: wrap;
  	}

  	.jobs_column-right {
  		margin: 16px 0px 16px 0px;

  	}

  	.jobs_item {
  		margin-top: 30px
  	}

  	.jobs_info {
  		margin-left: 0px;
  		padding-left: 0px;
  	}

  	.search_clear {
  		color: grey;
  		font-size: 18px;
  	}
  }


  @media screen and (max-width: 281px) {
  	.horizontal--show {
  		opacity: 1;
  		width: 230px;
  		font-weight: 200;
  		background-color: rgb(146, 145, 145);
  	}

  	span.jobs_title {
  		display: flex;
  		text-align: left;
  		flex-wrap: wrap;
  	}

  	.jobs_item {
  		width: 97%;
  	}

  	.header {
  		display: block;
  		background-image: url('./images/bg-header-mobile.svg');
  		height: 190px;
  		width: 100%;
  	}

  	.container {
  		width: 100%;
  	}

  	.search {
  		width: 97%;
  	}


  	.search_clear {
  		padding-top: 10px;
  		margin-left: 25px;
  		background-color: transparent;
  		border: none;
  		font-size: 15px;
  		color: var(--highlight-text-color);
  		font-weight: 300;
  		outline: none;
  		float: right;
  		color: grey;
  	}


  	.tag,
  	.close-tag {
  		display: inline-block;
  		width: auto;
  		padding: 10px 15px;
  		cursor: pointer;
  		border-radius: 6px;
  		font-weight: 300;
  		font-size: 15px;
  		color: var(--highlight-text-color);
  		margin: 2px;
  		background-color: #f1f7f5;
  		transition: 0.3s ease all;
  		position: relative;
  	}

  	.close-tag {
  		padding-right: 40px;
  	}

  	ul.jobs_details {
  		display: flex;
  		flex-wrap: wrap;
  		text-align: left;
  		line-height: 2%;
  	}

  	.new-featured-tag {
  		margin-left: 10px;
  	}

  	.attribution {
  		font-size: 15px;
  	}

  	.featuredtag {
  		padding-right: 2px;
  	}
    
	.jobs_details-item{
		font-size: 14px;
	}

  }













































  /* 


html,body{
	margin: 0;
}

body{
	background-color: hsl(180,52%, 96%);
	font-family: "Spartan, sans-serif";
	padding-bottom: 40px;
}


header {
	width: 100%;
	height: 190px;
	background-image: url('./images/bg-header-desktop.svg');
	background-size: cover;
	background-position: center;
	background-color: #549190;
}

.col-12{
	background-color:  hsl(180, 52%, 96%);
	width: 1300px;
	
}

.filter-tags-c{
	height: 80px;
	margin-top: -50px;
	box-shadow: 0px 10px 15px -7px rgba(93, 164, 164, 0.5)
}



 .mobile-header{
    display: none;
 }

.row{

    margin: 13px auto;
    display: table;
    align-content: center;
    justify-content: center; 

}  


 .container {	 
    position: relative;
    text-align: center;
    justify-content: center;
}
.d-md-flex{
    display: flex;
    flex-direction: right;
    height: 95px;
    
}

.d-flex{
    display: flex;
    flex-direction: right;
    margin-top: 0px;
}

.hidden-div{
    background-color: lightgreen;
    display: flex;
    width: 1000px;
    align-self: center;
    justify-self: center;
    justify-content: right;    
    border-radius: 5px;
    margin: -25px auto;  
    transform-style: preserve-3d;
     z-index: 2;  
}




@media screen and (max-width: 418px){
    .hidden-div{
        width: 420px;        
        margin-top: -20px;
    }

    .desktop-header{
        display: none;
    }

    .mobile-header{
        display: block;
        background-image: url("./images/bg-header-mobile.svg");
        
    }
}

 .job-card {
	 display: flex;
	 background-color: white;
	 width: 100%;
	 align-items: center;
	 justify-content: space-between;
	 border-radius: 5px;
	 margin-bottom: 35px;
	 height: 150px;   
	 box-shadow: 0px 10px 15px -7px rgba(93, 164, 164, 0.5)
}

 @media (max-width: 418px) {
	 .job-card {
		 display: block;
		 padding-top: 20px;
         padding-right: 40px; 
		 margin-top: 40px;
         margin-right: 40px;
         width: 375px;
    
	}

}

.clear-tags{
    float: right;
}

 .job-card p {
	 font-size: 15px;
	 color: #58a9a7;
	 font-weight: 500;
	 line-height: 1.4;
}
 @media (max-width: 418px) {
	 .job-card__info {
		 padding-bottom: 20px;
	}
}
 
 .job-card__info .img-c {
	 height: auto;
	 width: auto;
	 margin-right: 20px;
}
 @media (max-width: 418px) {
	 .job-card__info .img-c {
		 height: 60px;
		 width: 60px;
		 margin: -50px 0 0px 0;
	}

    .img-c{
        margin-left: 15px;
		
		
    }
    .three-line-items{
        position: absolute;
        padding-left: 7px;
    
    }
}

.job-card__info .img-c img {
	 height: 100%;
	 width: 100%;
	 object-fit: contain;
     padding-top: 4px;
}
 .job-card__info p {
	 font-weight: 700;
	 margin-bottom: 7px;
}
 .job-card__info .tag-new {
	 padding: 7px 10px;
	 background-color: #58a9a7;
	 color: white;
	 border-radius: 20px;
	 margin-left: 10px;
	 text-transform: uppercase;
	 font-size: 11px;
	 display: none;
}
 .job-card__info .tag-featured {
	 padding: 7px 10px;
	 background-color: black;
	 color: white;
	 border-radius: 20px;
	 margin-left: 10px;
	 text-transform: uppercase;
	 font-size: 11px;
	 display: none;
}
 .job-card__info h6 {
	 color: #323838;
	 font-size: 18px;
	 font-weight: 700;
     margin-top: 0px;
}
 .job-card__info ul {
	 display: flex;
	 list-style-type: none;
	 padding: 0;
     margin-top: -37px;
}
 .job-card__info ul li {
	 font-size: 15px;
	 color: #939c9b;
	 padding: 0 10px;
	 position: relative;
}
 .job-card__info ul li:before {
	 content: "";
	 height: 4px;
	 width: 4px;
	 position: absolute;
	 top: 50%;
	 background-color: #939c9b;
	 border-radius: 50%;
	 left: -2px;
	 transform: translateY(-50%);
}



 .job-card__info ul li:first-child {
	 padding-left: 0;
}
 .job-card__info ul li:first-child:before {
	 display: none;
}
 .job-card__info ul li:last-child {
	 padding-right: 0;
}
 .job-card.new .tag-new {
	 display: block;
}
 .job-card.featured {
	 border-left: 5px solid #58a9a7;
}
 .job-card.featured .tag-featured {
	 display: block;
}


 .job-card__tags {
	 display: flex;
	 flex-wrap: wrap;
	 padding-left: 20px;
	 list-style-type: none;
}
 @media (max-width: 375px) {
	 .job-card__tags {
		 padding-top: 20px;
		 padding-left: 0;
		 border-top: 1px solid #939c9b;
	}
}
 .job-card__tags li {
	 margin-right: 10px;
	 margin-bottom: 0;
	 padding: 7px;
	 border-radius: 4px;
	 color: #58a9a7;
	 font-weight: 500;
	 background-color: #f1f7f5;
	 margin: 5px 10px 5px 0;
	 cursor: pointer;
	 transition: all ease 0.2s;
}
 .job-card__tags li:hover {
	 background-color: #58a9a7;
	 color: white;
}
 .job-card__tags li:last-child {
	 margin-right: 0;
}  
 */













  /* transform-style: preserve-3d;
     z-index: 2;
      */


  /* Style Guide */

  /* 

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 500, 700 */











































  /* html,body{
	margin: 0;
}

body{
	background-color: hsl(180,52%, 96%);
	font-family: "Spartan, sans-serif";
	padding-bottom: 40px;
}
:root{
	--highlight-text-color: #5DA4A4;
	--very-dark-color: hsl(180, 14%, 20%)
}

.header {
	width: 100%;
	height: 190px;
	background-image: url('./images/bg-header-desktop.svg');
	background-size: cover;
	background-position: center;
	background-color: #549190;
}

.container{
	max-width: 1900px;
	width: auto;
	display: block;
	margin: 0 auto;
	padding: 0 20px 20px;
}

.search{
	width: 100%;

	height: auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 15px -7px rgba(93, 164, 164, 0.5);
	padding: 20px 40px;
	box-sizing: border-box;
	margin-top: -36px;
	opacity: 1;
	display: flex;
    justify-content: space-between;
}

.search_clear{
	padding-top: 25px;
	margin-left: 50px;
	background-color: transparent;
	border: none;
	font-size: 23px;	
	color: var(--highlight-text-color);
	font-weight: 700;
	outline: none;
	float: right;
}

.search_clear:hover{
    text-decoration: underline;
	cursor: pointer;
}

.jobs{
	margin-top: 36px; 
	width: 100%;
	height: auto;
	grid-row-gap: 25px;
	display: grid;
}

.jobs_item{
	width: 100%;
	height: auto;
	padding: 35px 40px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 15px -7px rgba(93, 164, 164, 0.5);
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.jobs_column{
	display: flex;
	align-items: center;
}

.jobs_img{
	width: 130px;
	height: auto;
}

.jobs_info{
	margin-left: 25px;
	width: auto;
}

.jobs_company{
	color: #40A5A4;
	font-size: 23px;
	font-weight: 600;
	display: block;
	margin-bottom: 15px;
}

.jobs_title{

	color: var(--very-dark-color);
	font-size: 26px;
	font-weight: 600;
	display: block;
	margin-bottom: 15px;
}

.jobs_details{
	list-style: none;
	margin: 0;
	padding: 0;
}


.jobs_details-item{
	display: inline-block;
	color: hsl(180, 8%, 52%);
	font-size: 26px;
	line-height: 1em;
}

.jobs_details-item::after{
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 3px;
	background-color: hsl(180, 8%, 52%);
	display: inline-block;
	margin: 5px 15px;
}

.tag, .close-tag{
	display: inline-block;
	width: auto;
	height: auto;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 6px;
	font-weight: 700;
	font-size: 25px;
	color: var(--highlight-text-color);
	margin: 5px;	
	background-color: #f1f7f5;
	transition: 0.3s ease all;
    position: relative;
}

.close-tag {
	padding-right: 45px;
}
.close-tag::after{
	content: "";
	display: block;
	width: 35px;
	height: 100%;
	background-color: var(--highlight-text-color);
	position: absolute;
	right: 0;
	top: 0;
	background-image: url('./images/icon-remove.svg');
	background-position: center;
	background-size: 15px;
	background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tag:hover, .tag--active{
	background-color:var(--highlight-text-color);
	color: #fff;
}

.close-tag:hover::after {
	padding-right: 6px;
	background-color: var(--very-dark-color);
}

.jobs_details-item:last-child::after {
	display: none;
}